version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_homicidios
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpass 
      MYSQL_DATABASE: homicidios_db
      MYSQL_USER: Rai
      MYSQL_PASSWORD: hom123
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      retries: 5

  adminer:
    image: adminer
    container_name: adminer_homicidios
    restart: unless-stopped
    ports:
      - "8080:8080"

volumes:
  mysql_data:
